{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="flash">
			      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
<a href="{{url_for('newCategory')}}">Add Category</a>
{% for category in categories %}
<a href="{{url_for('showItem', categories_id=category.id)}}">
<h3>{{ category.name}}</h3>
<img src="{{category.image}}" height="200" width="150"></a>
<p><a href="{{url_for('editCategory', categories_id = category.id)}}">Edit</a></p>
<p><a href="{{url_for('deleteCategory', categories_id = category.id)}}">Delete</a></p>
</br>
{% endfor %}
{% endblock %}